@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
  min-width: 500px;
  margin: 0;
  font-family: 'Poppins',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bold {
  font-weight: 800;
}

.normal {
  font-size: 15px;
}

.small {
  font-size: 10px;
}

.left {
  float: left;
}

.right{
  float: right;
}